<div class=" section index container">
  <div class="row">
    <table class="table table-bordered table-stripped width_setting">
      <tr>
        <th>Name: </th>
        <td> <%= f.text_field(:name) %> </td>
      </tr>
      <tr>
        <th>Credit: </th>
        <td> <%= f.text_field(:credit) %> </td>
      </tr>
    </table>
  </div>
</div>