<div class=" section index container">
  <div class="row">
    <%= link_to("Back", departments_path, class: "back-list" ) %>

    <div class="department new">
      <h2> New Department</h2>

      <%= simple_form_for @department do |f| %>

      <%= render(partial: 'form', locals: {f: f}) %>

          <%= f.button :submit %>

      <% end %>
    </div>
  </div>
</div>