<div class=" section index container">
  <div class="row">
    <%= link_to("Back", department_course_sections_path, class: "back-list" ) %>
    <div class="section show">
      <h2> Show Section</h2>
      <table class="table table-bordered table-stripped width_setting">
        <tr>
          <th>Section No: </th>
          <td> <%= @section.section_no %></td>
        </tr>
        <tr>
          <th>department: </th>
          <td> <%= @section.course.department.name %></td>
        </tr>
      </table>
    </div>
  </div>
</div>